* {
    margin: 0;
    padding: 0;
}

/* section居中 */
#section {
    width: 1200px;
    height: 30px;
    margin:10px auto 0;          /* 使section整个内容水平居中 */
}

.nav {
    font-size: 22px;
}

ul li{
    width:200px;
    height:40px;
    line-height: 22px;

    margin: 0;
    display: inline-block;        /* 让li元素变为行内元素，在一行显示 */
    list-style-type: none;  /* 清除列表前面的点或者图片 */
}

li:hover{
    background-color: #FFCC00;
    border-radius: 2px;
}

.banner {
    width: 1200px;
    height: 460px;
    overflow: hidden;
}

.banner-slide {
    width: 1200px; /* 如果不设置宽和高，图片不会显示出来，默认的height为0 */
    height: 460px;
    float: left; /* 让图片显示在一行 */
}

.slide1 {
    background-image: url("img/1.jpg");
}

.slide2 {
    background-image: url("img/3.jpg");
}

.slide3 {
    background-image: url("img/4.jpg");
}

.slide4 {
    background-image: url("img/5.jpg");
}
