/**
BEM设计模式
1.block 模块：没有前缀，多个单词用 - 连接
2.element 元素：元素在模块之后，可以有多个层级，以 __ 连接
3.modify 修饰：某元素，或者某模块特别的状态，必须有一个状态名和状态值，使用 _ 连接
 */

.header {
    background-color: #f7f7f7;
}

.header__wrap {
    height: 80px;
    width: 1200px;
    margin: 0 auto; /*使得div水平居中*/
    position: relative;
}

.header__logo {
    width: 150px;
    text-indent: 50px;
    height: 40px;
    line-height: 40px;
    background: url("../img/logo.png") left center no-repeat;
    font-size: 20px;
    color: #07111b;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
}

.header__nav {
    position: absolute;
    right: 20px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
}

.header__nav-item {
    color: #292f35;
    font-size: 14px;
    display: block; /*设置成块级元素才可以设置宽和高*/
    height: 38px;
    line-height: 38px;
    float: left;
    position: relative;
    width: 30px;
    text-align: center;
    /*	margin: 0;*/
    margin-left: 40px;
}

.header__nav-item_status_active {
    color: #f01400;
}

.header__nav-item_status_active::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f01400;
}

.header__nav-item:hover {
    color: #f01400;
}

.header__nav-item_custom_button {
    background-color: black;
    color: #F4F4F5;
    width: 90px;
    padding: 0;
    margin-left: 40px;
    border-radius: 3px;
}

/**
第一屏
 */
.screen-1 {
    height: 800px;
    background: #E7E7E7 url("../img/bg-screen-1.png") no-repeat center;
    position: relative; /*为子元素垫定基础*/
    overflow: hidden;
    background-size: cover;
}

/*第一屏的元素*/
.screen-1__heading {
    font-weight: normal;
    font-size: 46px;
    color: #4d555d;
    text-align: center;
    padding-top: 152px;
}

.screen-1__heading b {
    color: #f01400;
    font-weight: normal;
}

.screen-1__phone {
    width: 1375px;
    height: 305px;
    background: url("../img/screen-1-phone.png") no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -688px;
    bottom: 180px;
    z-index: 2;
}

.screen-1__shadow {
    width: 1233px;
    height: 411px;
    background: url("../img/screen-1-shadow.png") no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -616px;
    bottom: 30px;
    z-index: 1;
    opacity: .8;
}

/**
第二屏
 */
.screen-2 {
    height: 800px;
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
}

.screen-2__heading {
    font-weight: normal;
    font-size: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 96px;
}

.screen-2__subheading {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    padding-top: 25px;
    text-align: center;
    color: #000;
}

.screen-2__phone {
    position: absolute;
    width: 928px;
    height: 873px;
    left: 50%;
    margin-left: -464px;
    background: url("../img/screen-2-phone.png") no-repeat center;
    bottom: -345px;
    z-index: 2;
}

.screen-2__point {
    width: 108px;
    height: 22px;
    padding-right: 112px;
    font-size: 22px;
    line-height: 22px;
    color: #4d555d;
    background: url("../img/icon-point-right.png") no-repeat center right;
    position: absolute;
}

.screen-2__point_custom_right {
    padding: 0 0 0 112px;
    background: url("../img/icon-point-left.png") no-repeat center left;
}

.screen-2__point_i_1 {
    top: 150px;
    left: -164px;
}

.screen-2__point_i_2 {
    right: 130px;
    top: 30px;
}

.screen-2__point_i_3 {
    right: 30px;
    top: 330px;
}

/**
第三屏
 */
.screen-3 {
    height: 800px;
    position: relative;
    overflow: hidden;
    background: url("../img/bg-screen-3.png") no-repeat center;
    background-size: cover;
}

.screen-3__wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.screen-3__heading {
    font-size: 46px;
    line-height: 46px; /*文字居中*/
    color: #FFFFFF;
    text-align: left;
    padding-top: 94px;
}

.screen-3__subheading {
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 25px;
    line-height: 28px;
}

.screen-3__phone {
    width: 729px;
    height: 873px;
    background: url("../img/screen-3-phone.png") no-repeat center top;
    position: absolute;
    right: 0;
    top: 195px;
    z-index: 2;
}

.screen-3__features {
    position: absolute;
    top: 395px;
    left: 0;
    width: 320px;
    height: 280px;
}

.screen-3__features__item {
    width: 138px;
    height: 118px;
    border: 1px solid #cb7173;
    margin: 0 20px 20px 0;
    float: left;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;

}

.screen-3__features__item__number {
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    padding: 28px 0 8px;
}

.screen-3__features__item__desc {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
}

/**
第四屏
 */
.screen-4 {
    height: 800px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.screen-4__wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.screen-4__heading {
    color: #f01400;
    text-align: center;
    padding-top: 135px;
    line-height: 46px;
    font-size: 46px;
}

.screen-4__subheading {
    font-size: 14px;
    color: #464a4f;
    text-align: center;
    line-height: 28px;
    padding-top: 29px;
}

.screen-4__type {
    width: 1260px;
    height: 270px;
    position: absolute;
    top: 306px;
    margin-left: 30px;
}

.screen-4__type__item {
    width: 220px;
    margin-right: 90px;
    height: 270px;
    float: left;
    position: relative;
    text-align: center;
    background-size: cover;
}

.screen-4__type__item__color {
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #2c3238;
    position: absolute;
    bottom: -44px;
}

.screen-4__type__item_i_1 {
    background: url("../img/phone-1.png") no-repeat left top;
}

.screen-4__type__item_i_2 {
    background: url("../img/phone-2.png") no-repeat left top;
}

.screen-4__type__item_i_3 {
    background: url("../img/phone-3.png") no-repeat left top;
}

.screen-4__type__item_i_4 {
    background: url("../img/phone-4.png") no-repeat left top;
}

.screen-4__type__item__storage {
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #a4a9ae;
    position: absolute;
    bottom: -66px;
}

/**
第五屏
 */
.screen-5 {
    height: 800px;
    background-color: #141911;
    position: relative;
    overflow: hidden;
}



















