* {
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #07cbc9;
}

.header__logo {
    float: left;
    line-height: 48px;
    padding-left: 100px;
    padding-top: 14px; /*logo居中*/
}

.header__nav {
    float: right;
    margin-right: 100px;
}

.nav__ul li {
    list-style: none;
    padding-left: 20px;
    display: inline;
    line-height: 80px;
    color: #fffaf0;
    font-family: Microsoft YaHei UI;
    font-weight: bolder;
}

.banner__img {
    width: 100%;
    height: 600px;
}

.banner__img img {
    width: 100%;
    height: 600px;
}

.banner__form {
    position: absolute;
    top: 210px;
    left: 50%;
    margin-left: -252px;
}

.banner__form input {
    display: block;
    width: 505px;
    height: 39px;
    border: solid 2px #808080;
    margin-bottom: 20px;
    background-color: transparent;
}
.banner__form textarea{
    width: 505px;
    height: 115px;
    border: solid 2px #808080;
    background-color: transparent;
    display: block;
}
.banner__form button{
    width: 123px;
    height: 39px;
    border: solid 2px #808080;
    background-color: transparent;
    color: #bdae97;
    margin-top: 24px;
    margin-left: 191px;
}
.section__about{
    background-color: #FFFFFF;
}
.about__top{
    height: 257px;
    width: 568px;
    margin: 0 auto;
    text-align: center;
}
.sub__title{
    font-size:40px;
    font-weight: bolder;
}
.top__top{
    padding-bottom: 28px;
    padding-top: 69px;
}
.div__shortLine{
    margin: 0 auto;
    width:40px;
    height: 2px;
    background-color: #07cbc9;
}
.top__bottom{
    padding-top: 20px;
    color: #797979;
    padding-bottom: 36px;
}
.about__middle{
    height: 380px;
    width: 568px;
    position: relative;
    margin: 0 auto;
}
.about__middle img{
    height: 380px;
    width: 568px;
    padding-bottom: 100px;
}
.middle__left{
    position: absolute;
    width: 370px;
    height: 345px;
    left: -233px;
    top: 0;
}
.left__top{
    text-align: center;
    font-size: 38px;
    width: 200px;
    height: 97px;
}
.left__bottom{
    background-color: rgba(255,255,255,.4);
    width: 370px;
    height: 246px;
    border: solid 1px #c5c5c5;
}
.left__bottom_word{
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 30px;
}
.button_explore{
    width: 102px;
    height: 45px;
    background-color: black;
    color: white;
    border: solid 1px black;
}
.button_explore_1{
    margin-left: 20px;
    margin-top: 30px;
}

.left__bottom button:hover{
    background-color: transparent;
    color: #000;
}
.middle__right{
    text-align: center;
}
.middle__right>div{
    width: 238px;
    height: 144px;
    border: solid 1px #07cbc9;
    position: absolute;
}
.right__top{
    left: 603px;
    top:0;
}
.right__bottom{
    top: 174px;
    left: 603px;
}
.middle__right__item1{
    height: 79px;
    line-height: 79px;
    font-size: 25px;
    font-weight: bolder;
}

.middle__right__item3{
    font-size: 15px;
    height: 62px;
    line-height: 62px;
}
.bottom__content{
    /*display: inline;*/
    /*width: 379px;*/
    width: 25%;
    height: 379px;
    float: left;
}
.bottom__content img{
    width: 380px;
    height: 379px;
}
.about__div{
    background-color: #07cbc9;
    color: #FFFFFF;
}
.bottom__content_title{
    height: 90px;
    font-size: 23px;
    line-height: 90px;
    padding-left: 50px;
}
.bottom__content_smallTitle{
    padding-left: 50px;
    height: 50px;
    line-height: 30px;
    color: #f7f5f5;
    font-size: 14px;
}
.bottom__content_article{
    padding-left: 50px;
    padding-right: 30px;
    height: 80px;
    line-height: 20px;
    padding-top: 30px;
    font-size: 11px;
    color: #ddd9d4;
}

.button_explore_2{
    margin-left: 140px;
    margin-top: 30px;
}
.gallery__top{
    text-align: center;
}
.gallery__top_title{
    padding-top: 40px;
    padding-bottom: 20px;
}
.gallery__top_content{
    padding-top: 20px;
    padding-bottom: 40px;
}
.gallery__bottom{
    width: 1170px;
    /*height: 638px;*/
    margin: 0 auto;
}
.gallery__bottom_content{
    /*width: 340px;*/
    height: 308px;
    margin: 0 15px 30px;
    float: left;
}
.gallery__bottom_content img{
    width: 360px;
    height: 244px;
}
.content__div{
    width: 360px;
    height: 244px;
}

.gallery__bottom_footer{
    height: 64px;
    background-color: black;
    color: #FFFFFF;
    padding-left: 15px;
    line-height: 64px;
}

.footer{
    width: 100%;
    background-color: #07cbc9;
    line-height: 80px;
    height: 80px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
}


